<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @flight.date %>
</p>

<p>
  <strong>Flight to:</strong>
  <%= @flight.flight_to %>
</p>

<p>
  <strong>Flight from:</strong>
  <%= @flight.flight_from %>
</p>

<%= link_to 'Edit', edit_flight_path(@flight) %> |
<%= link_to 'Back', flights_path %>
