<%= form_with(model: user, local: true) do |form| %>
  <% if @user.errors.any? %>
    <% @user.errors.full_messages.each do |msg| %>
    <h2><%= msg %></h2>
    <% end %>
  <% end %>

  <div class="field">
    <%= form.label :Username %>
    <%= form.text_area :username %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
